[ng-cloak] {
  display: none;
}

@import "/bower_components/bootstrap/less/bootstrap.less";
@import "/bower_components/bootstrap/less/theme.less";

@import "/vendor/angular-dialog-service/dialogs.css";
@import "/vendor/famfamfam/famfamfam.css";

// Your custom theme
@import "overrides/_variables.less";

// Fix links without #
.nav, .pagination, .carousel a { cursor: pointer; }

/*
Place custom styles here. These styles should loaded after
bootstrap, so they may override it's behavior.
*/

// Login form
.form-signin {
  .checkbox {
    font-weight: normal;
  }

  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
  }
}

// Footer
.footer {
  background-color: whitesmoke;
  padding: 30px 0;
  /* .box-shadow(inset 0 5px 15px rgba(0, 0, 0, .025)); */
}

// Application styles
.donetrue {
  text-decoration: line-through;
  color: grey;
}
