<div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2>Recover password</h2>

            <div class="alert alert-danger" ng-show="error"  translate="password.messages.error.global">
                <strong>An error has occurred!</strong>
            </div>

            <form name="form" role="form" novalidate
                  class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                  ng-submit="submit()">

                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" name="email" ng-model="email" required ng-email>
                    <div class="error" ng-show="form.password.$dirty && form.password.$invalid">
                        <small class="error"
                               ng-show="form.password.$error.required" translate="password.messages.validate.newpassword.required">
                            Your email is required.
                        </small>
                    </div>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Send request</button>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>