<h1 translate="main.title">Welcome!</h1>

<p class="lead" translate="main.subtitle">This is your homepage</p>

<div class="alert alert-success"
     ng-show="authenticated"
     translate="main.logged.message"
     translate-values="{username: '{{account.username}} {{account.firstname}} {{account.lastname}}'}">
    You are logged in as user "Admin".
</div>

<div class="alert alert-warning"
     ng-hide="authenticated"
     translate="main.logged.authenticated">
    If you want to <a href="#/login">authenticate</a>, you can try the default "admin / admin".
</div>

<div class="row">
    <div class="col-md-6">
        <img class="img-polaroid" ph-img="500x300" />
        <p ph-txt="3s2p"></p>
    </div>

    <div class="col-md-6">
        <p ph-txt="4s2p"></p>
        <img class="img-polaroid" ph-img="500x300" />
    </div>
</div>
