<ul class="nav navbar-nav">
    <li ui-sref-active="active"><a ui-sref="todos">Todo example</a></li>
    <li ui-sref-active="active"><a ui-sref="validation">Validators</a></li>
    <li ui-sref-active="active" ng-show="authenticated && account.role == 'ROLE_ADMIN'"><a ui-sref="users">Users</a></li>
</ul>

<ul class="nav navbar-nav navbar-right">
    <li dropdown ng-controller="LanguageController">
        <a dropdown-toggle>
            <span>
                <span class="glyphicon glyphicon-flag"></span>
                <span class="hidden-tablet" translate="global.menu.language">Language</span>
                <b class="caret"></b>
            </span>
        </a>
        <ul class="dropdown-menu">
            <li selected-language="fi">
                <a ng-click="changeLanguage('fi')"><span class="famfamfam-flag-fi"></span>
                    &nbsp;<span translate="global.language.fi">Suomi</span></a>
            </li>
            <li selected-language="sv">
                <a ng-click="changeLanguage('sv')"><span class="famfamfam-flag-se"></span>
                    &nbsp;<span translate="global.language.sv">Ruotsi</span></a>
            </li>
            <li selected-language="en">
                <a ng-click="changeLanguage('en')"><span class="famfamfam-flag-gb"></span>
                    &nbsp;<span translate="global.language.en">English</span></a>
            </li>
        </ul>
    </li>

    <li dropdown ng-show="authenticated">
        <a dropdown-toggle>
            {{account.firstName}} {{account.lastName}}
            <b class="caret"></b>
        </a>

        <ul class="dropdown-menu">
            <li>
                <a ui-sref="account">
                    <span class="glyphicon glyphicon-user"></span>
                    Account
                </a>
            </li>
            <li>
                <a ui-sref="password">
                    <span class="glyphicon glyphicon-asterisk"></span>
                    Change password
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a ui-sref="logout"><span class="glyphicon glyphicon-log-out"></span>
                    &nbsp;<span translate="global.menu.account.logout">Log out</span></a>
            </li>
        </ul>
        <!-- /.drobdown-menu -->
    </li>

    <li ng-show="authenticated">
        <a ui-sref="logout" class="navbar-link">
            <span class="glyphicon glyphicon-log-out"></span>
            &nbsp;<span translate="global.menu.account.logout">Log out</span>
        </a>
    </li>

    <li ng-hide="authenticated">
        <a ui-sref="login" class="navbar-link">
            <span class="glyphicon glyphicon-log-in"></span>
            &nbsp;<span translate="global.menu.account.login">Sign-in</span>
        </a>
    </li>
</ul><!-- /.navbar-nav -->
