<form class="form row" name="validatorForm" id="validatorForm">
    <div class="form-group col-md-4"
         ng-class="{'has-error': validatorForm.phoneNumber.$invalid, 'has-success': validatorForm.phoneNumber.$valid}">
        <label for="phoneNumber" class="control-label">
            Phone number validator
            <span class="text-muted" ng-if="validatorForm.phoneNumber.$pending">
                (checking...)
            </span>
        </label>

        <input type="text" name="phoneNumber" id="phoneNumber"
               class="form-control"
               ng-model="phoneNumber"
               ng-model-options="{ debounce : { 'default' : 300, blur : 0 } }"
               valid-phone-number default-region="FI"
               required>

        <p class="help-block" ng-messages="validatorForm.phoneNumber.$error">
            <span ng-message="required">Field is required</span>
            <span ng-message="validPhoneNumber">Invalid phoneNumber</span>
        </p>
    </div>

    <div class="form-group col-md-4"
         ng-class="{'has-error': validatorForm.businessId.$invalid, 'has-success': validatorForm.businessId.$valid}">
        <label for="businessId" class="control-label">
            Finnish businessId validator
        </label>

        <input type="text" name="businessId" id="businessId"
               class="form-control"
               minlength="9" maxlength="9" size="9"
               ng-model="businessId"
               valid-business-id
               required>

        <p class="help-block" ng-messages="validatorForm.businessId.$error">
            <span ng-message="required">Field is required</span>
            <span ng-message="validbusinessId">Invalid businessId</span>
        </p>
    </div>

    <div class="form-group col-md-4"
         ng-class="{'has-error': validatorForm.finnishPersonalIdentity.$invalid, 'has-success': validatorForm.finnishPersonalIdentity.$valid}">
        <label for="finnishPersonalIdentity" class="control-label">
            Finnish personal identification number validator
        </label>

        <input type="text" name="finnishPersonalIdentity" id="finnishPersonalIdentity"
               class="form-control"
               minlength="11" maxlength="11" size="11"
               ng-model="finnishPersonalIdentity"
               valid-finnish-personal-identity
               required>

        <p class="help-block" ng-messages="validatorForm.finnishPersonalIdentity.$error">
            <span ng-message="required">Field is required</span>
            <span ng-message="validFinnishPersonalIdentity">Invalid personal identity number</span>
        </p>
    </div>

</form>
