<div>
    <h2>Todo</h2>

    <div ng-controller="TodoCtrl">
        <span>{{remaining()}} of {{todos.length}} remaining</span>
        [<a href="" ng-click="archive()">archive</a>]

        <ul class="unstyled">
            <li ng-repeat="todo in todos">
                <div class="checkbox-inline">
                    <label>
                        <input type="checkbox" ng-model="todo.done"/><span class="done{{todo.done}}">{{todo.text}}</span>
                    </label>
                </div>
            </li>
        </ul>
        <form ng-submit="addTodo()" class="form-inline">
            <p>
                <input type="text" ng-model="todoText" size="30" placeholder="add new todo here"/>
                <input type="submit" value="add" class="btn btn-primary"/>
            </p>
        </form>
    </div>
</div>