<form name="userForm" role="form" novalidate
      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
      ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="cancel()">&times;</button>
        <h4 class="modal-title" id="myUserLabel">
            <span ng-show="user.id" translate="admin.users.edit_title">Muokkaa käyttäjätilin tietoja</span>
            <span ng-hide="user.id" translate="admin.users.create_title">Luo uusi käyttäjätili</span>
        </h4>
    </div>

    <div class="modal-body">
        <div class="form-group" bs-validation-group>
            <label translate="admin.users.username">Käyttäjänimi</label>
            <input type="text" class="form-control" name="username" ng-disabled="user.id"
                   ng-model="user.username" ng-minlength=1 ng-maxlength=50 required>
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="user.active" checked>
                <span translate="admin.users.active">Aktiivinen</span>
            </label>
        </div>

        <div class="form-group" bs-validation-group>
            <label translate="admin.users.role">Rooli</label>
            <select ng-model="user.role" class="form-control" ng-options="role as ('global.role.' + role) | translate for role in roles" ng-selected="user.role">
            </select>
        </div>

        <div class="form-group" bs-validation-group>
            <label translate="admin.users.email">Sähköpostiosoite</label>
            <input type="email" class="form-control" name="email"
                   ng-model="user.email" ng-email ng-maxlength=70>
        </div>

        <div class="form-group" bs-validation-group>
            <label translate="admin.users.firstname">Etunimi</label>
            <input type="text" class="form-control" name="firstName"
                   ng-model="user.firstName" ng-maxlength=100>
        </div>

        <div class="form-group" bs-validation-group>
            <label translate="admin.users.lastname">Sukunimi</label>
            <input type="text" class="form-control" name="lastName"
                   ng-model="user.lastName" ng-maxlength=200>
        </div>

        <hr/>

        <div class="form-group" bs-validation-group>
            <label translate="admin.users.password">Salasana</label>
            <input type="password" class="form-control" name="password"
                   autocomplete="false"
                   ng-required="!user.id"
                   ng-minlength="4"
                   ng-model="user.password">
        </div>

        <div class="form-group" bs-validation-group>
            <label translate="admin.users.passwordConfirm">Salasanan vahvistus</label>
            <input type="password" class="form-control" name="passwordConfirm"
                   autocomplete="false"
                   ng-required="user.password"
                   ng-minlength="4"
                   ng-model="user.passwordConfirm">
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()" translate="admin.users.cancel">Peruuta</button>
        <button type="submit" ng-disabled="userForm.$invalid" class="btn btn-primary" translate="admin.users.save">Tallenna</button>
    </div>
</form>