<h2 translate="admin.users.title">Käyttäjätilit</h2>

<pagination ng-model="pager.currentPage" items-per-page="pager.pageSize" total-items="pager.total"
        rotate="true" max-size="8" boundary-links="true"
        class="pagination-md"></pagination>

<button class="btn btn-primary pull-right" ng-click="create()">
    <span class="glyphicon glyphicon-flash"></span>
    <span translate="admin.users.create">Luo uusi käyttäjä</span>
</button>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Username</th>
            <th>Role</th>
            <th>Email</th>
            <th>First name</th>
            <th>Last name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in page.content track by user.id">
            <td>{{user.username}}</td>
            <td>{{ ('global.role.' + user.role) | translate }}</td>
            <td>{{user.email}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>
                <div class="btn-group btn-group-sm pull-right">
                    <button type="button" class="btn btn-danger"
                            ng-confirm-click="{{ 'admin.users.delete_confirm' | translate:{'username': user.username} }}"
                            ng-confirm-click-action="delete(user.id)">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                        <span translate="admin.users.delete">Poista</span>
                    </button>
                    <button type="button"
                            ng-click="edit(user.id)"
                            class="btn btn-default">
                        <span translate="admin.users.edit">Muokkaa</span>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
