<h1>Tilisi salasana on vaihdettu</h1>

<p>Salasana on vaihdettu. Voit jättää tämän viestin huomiomatta, mikäli olet tästä tietoinen.</p>

<p>Salasanan vaihtaminen suoritettiin ${timestamp} <br/>
    IP-osoitteesta ${remote} <br/>
    käyttäen selainta ${browser}.</p>