<div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1 translate="login.title">Kirjautuminen</h1>

            <div class="alert alert-danger" ng-show="authenticationError"
                 translate="login.messages.error.authentication">
                <strong>Kirjautuminen epäonnistui!</strong> Ole hyvä ja tarkista käyttäjänimi ja salasana.
            </div>

            <form role="form" class="form-signin">
                <label for="username" translate="login.form.username">Käyttäjänimi</label>
                <input type="text" class="form-control" id="username"
                       autofocus="true" autocorrect="off" autocapitalize="none"
                       placeholder="{{'login.form.username.placeholder' | translate}}"
                       ng-model="username">

                <label for="password" translate="login.form.password">Salasana</label>
                <input type="password" class="form-control" id="password" ng-required autocomplete="off"
                       placeholder="{{'login.form.password.placeholder' | translate}}"
                       ng-model="password">

                <div class="checkbox">
                    <label for="rememberMe">
                        <input type="checkbox" id="rememberMe" ng-model="rememberMe" checked>
                        <span translate="login.form.rememberme">Pidä minut kirjautuneena</span>
                    </label>
                </div>

                <button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="!(username && password)"
                        ng-click="login()">
                    <span class="glyphicon glyphicon-log-in">&nbsp;</span>
                    <span translate="login.form.button">Kirjaudu sisään</span>
                </button>
            </form>

            <p class="text-center"><br/><a ui-sref="recoverPassword">Unohtuiko salasana?</a></p>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
